<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Service1cSoapBinding" />
      </basicHttpBinding>
      <customBinding>
        <binding name="Service1cSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.9/AmericanAcademy/ws/AmericanAcademy.1cws" binding="basicHttpBinding" bindingConfiguration="Service1cSoapBinding" contract="WS1C.Service1cPortType" name="Service1cSoap" />
      <endpoint address="http://192.168.0.9/AmericanAcademy/ws/AmericanAcademy.1cws" binding="customBinding" bindingConfiguration="Service1cSoap12Binding" contract="WS1C.Service1cPortType" name="Service1cSoap12" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>